@import 'tailwindcss';

:root {
  --background: #1a1a1a;
  --foreground: #fafafa;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-pretendard), sans-serif;
}

.swiper-pagination {
  bottom: 8px !important;
  right: 16px !important;
  left: auto !important;
  text-align: right !important;
  width: auto !important;
}
